{% load static %}
<nav id="navbar-example3" class="navbar navbar-expand-lg bg-body-primary px-4 mb-4">
    <a class="navbar-brand" href="#">Money Manager</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#">Bugetul curent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lista tranzactii</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categorii</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Third</a></li>
                <li><a class="dropdown-item" href="#">Fourth</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Fifth</a></li>
            </ul>
        </li>
    </ul>

    <div class="ms-auto auth-buttons">
    <a class="btn btn-primary login-btn" href="#">Login</a>
    <a class="btn btn-primary signup-btn" href="#">Sign up</a>
</div>
</nav>